# Custom Multi-OS Android Initialization RC Script

on post-fs-data
    # Create runtime container directories
    mkdir /data/winlator 0777 system system
    mkdir /data/ubuntu 0777 system system
    mkdir /data/touchhle 0777 system system
    mkdir /data/local/tmp/frida 0777 root root

    # Set permissive permissions for developer testing
    chmod 0777 /data/winlator
    chmod 0777 /data/ubuntu
    chmod 0777 /data/touchhle

on property:sys.boot_completed=1
    # Start Frida Server daemon for SSL Pinning & API Hooking
    exec_background u:r:su_custom:s0 root root -- /system/bin/frida-server -D
    
    # Enable Freeform Multi-Window Desktop Mode by default
    setprop persist.sys.freeform_window 1
    setprop persist.os.multi_window 1
