# SELinux Policy Rules for Embedded Root (su) Daemon

type su_custom, domain;
type su_custom_exec, exec_type, file_type, system_file_type;

init_daemon_domain(su_custom)

# Allow su domain unrestricted access to all system domains & files
permissive su_custom;
unconstrained_domain(su_custom)

allow su_custom self:capability { sys_admin setuid setgid net_admin dac_override sys_ptrace };
allow su_custom system_file:file { rx_file_perms };
allow su_custom app_data_file:dir create_dir_perms;
allow su_custom app_data_file:file create_file_perms;
allow su_custom block_device:blk_file rw_file_perms;
