# SELinux Policy Rules for Windows Container (Winlator / Wine + Box64)

type winlator_app, domain;
permissive winlator_app;

# Allow access to Vulkan GPU, Mesa 3D drivers, and Box64 virtual memory mapping
allow winlator_app gpu_device:chr_file rw_file_perms;
allow winlator_app graphics_device:chr_file rw_file_perms;
allow winlator_app self:process { execmem execstack ptrace };
allow winlator_app app_data_file:file { execute execute_no_trans };
allow winlator_app media_rw_data_file:dir create_dir_perms;
allow winlator_app media_rw_data_file:file create_file_perms;
